<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images</title>
    <link rel="shortcut icon" type="image/jpg" href="../images/logo.png" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <link rel="stylesheet" href="../styles.css">

</head>

<body>
    <div class="Image-Component">
        <!-- header section -->

        <!-- navbar  -->

        <nav class="navBar">

            <div class="brand">
                <a href="../index.html">
                    <img id="logo" src="../images/logo.png" />
                </a>

            </div>

            <div class="navLinks">
                <a href="./index.html"> Home </a>

                <a href="./gettingStarted.html"> Docs </a>
                <a href="https://github.com/mukulsaini-dev/Component-Library/"> GitHub </a>
            </div>

        </nav>





        <!-- aside  Components List -->

        <aside class="aside">
            <div class="menu-lists">

                <div class="brandIntro">
                    <a href="" class="brandName">Ghost UI</a>
                    <a href="###" id="version">v1.00</a>
                    <span id="horizontalLine"></span>
                </div>
                <ul class="side-lists">
                    <a href="./gettingStarted.html">Getting Started</a>

                    <a href="../components/avatar.html">Avatars</a>
                    <a href="../components/alert.html">Alerts</a>
                    <a href="./badges.html">Badges </a>
                    <a href="../components/button.html"> Buttons</a>
                    <a href="./cards.html">Cards</a>
                    <a href="./image.html">Images</a>
                    <a href="./input.html">Inputs</a>
                    <a href="./list.html">Lists</a>
                    <a href="./modals.html">Modals</a>
                    <a href="./navigation.html">Navigation</a>
                    <a href="./grid.html">Simple Grid</a>
                    <a href="./typography.html">Text Utilities</a>
                </ul>

                <section class="componentFooter">

                    <div>

                        <span class="name"> Made with ❤️ by <b> Mukul Saini </b></span>

                        <div class="socialLinks-side">
                            <a href="https://github.com/mukulsaini-dev/Component-Library"> <i class="fab fa-github"></i>
                            </a>

                            <a href="https://twitter.com/iMukulSaini"> <i class="fab fa-twitter"> </i></a>
                            <a href="https://www.linkedin.com/in/mukul-saini-95aa49204/"><i
                                    class="fab fa-linkedin-in"></i> </a>

                        </div>

                    </div>


                </section>
            </div>
        </aside>





        <section class="contentImage">


            <!-- //first grid -->

            <div class="aimage image-content">


                <div class="component-intro">


                    <h1 class="component-name">Responsive </h1>

                    <p class="component-about">


                        Images in CRUX UI are made responsive.

                        By Changing the src , use the img tag to access Round Responsive Image.




                </div>

                <div class="  image-lists ">
                    <div class="image">
                        <img class="responsive-image" alt="image"
                            src=" https://cdn.pixabay.com/photo/2019/04/17/10/24/sheep-4133831_960_720.jpg" />
                    </div>





                </div>

                <!-- code snippet -->
                <div class="code-snippet">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%2831%2C138%2C210%2C1%29&t=base16-dark&wt=none&l=htmlmixed&ds=true&dsyoff=20px&dsblur=64px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=15px&lh=185%25&si=false&es=2x&wm=false&code=%2520%2509%253Cdiv%2520class%253D%2522image%2522%253E%250A%2520%2520%2520%2520%2520%2520%250A%2520%2520%2520%2520%2509%2509%253Cimg%2520class%253D%2522responsive-image%2522%2520alt%253D%2522image%2522%2520src%253D%2522%2520https%253A%252F%252Fcdn.pixabay.com%252Fphoto%252F2019%252F04%252F17%252F1%252F24%252Fsheep-4133831_960_720.jpg%2522%2520%252F%253E%250A%2520%2520%2520%2520%253C%252Fdiv%253E%250A"
                        style="width: 824px; height: 241px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>




                </div>


            </div>

            <div class="bimage image-content">

                <div class="component-intro">


                    <h1 class="component-name">Round Image </h1>

                    <p class="component-about">
                        By Changing the src , use the img tag to access Round Responsive Image.

                </div>

                <div class="  image-lists ">

                    <div class="image">
                        <img class="round-image" alt="image"
                            src=" https://cdn.pixabay.com/photo/2020/07/17/13/00/tree-5414036_960_720.jpg" />
                    </div>



                </div>
                <!-- code snippet -->
                <div class="code-snippet">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%2831%2C138%2C210%2C1%29&t=base16-dark&wt=none&l=htmlmixed&ds=true&dsyoff=20px&dsblur=64px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=15px&lh=185%25&si=false&es=2x&wm=false&code=%2520%2520%253Cdiv%2520class%253D%2522image%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522round-image%2522%2520alt%253D%2522image%2522%2520src%253D%2522%2520https%253A%252F%252Fcdn.pixabay.com%252Fphoto%252F2020%252F07%252F17%252F13%252F00%252Ftree-5414036_960_720.jpg%2522%2520%252F%253E%250A%2520%2520%2520%2520%253C%252Fdiv%253E%250A"
                        style="width: 824px; height: 213px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>



                </div>
                <div class="component-next-page">
                    <a href="./cards.html" class="previous-page-name">
                        Cards
                    </a>
                    <a class="next-page-name" href="./input.html">
                        Inputs
                    </a>
                </div>


            </div>
    </div>



    </section>


































    </div>

</body>

</html>