<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List</title>
    <link rel="shortcut icon" type="image/jpg" href="../images/logo.png" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />

    <link rel="stylesheet" href="../styles.css" />
  </head>
  <body>
    <div class="List-Component">
      <!-- header section -->

      <!-- navbar  -->

      <nav class="navBar">
        <div class="brand">
          <a href="../index.html">
            <img id="logo" src="../images/logo.png" />
          </a>
        </div>

        <div class="navLinks">
          <a href="./index.html"> Home </a>

          <a href="./gettingStarted.html"> Docs </a>
          <a href="https://github.com/mukulsaini-dev/Component-Library/"> GitHub </a>
        </div>
      </nav>

      <!-- aside  Components List -->

      <aside class="aside">
        <div class="menu-lists">
          <div class="brandIntro">
            <a href="" class="brandName">Ghost UI</a>
            <a href="###" id="version">v1.00</a>
            <span id="horizontalLine"></span>
          </div>
          <ul class="side-lists">
            <a href="./gettingStarted.html">Getting Started</a>

            <a href="../components/avatar.html">Avatars</a>
            <a href="../components/alert.html">Alerts</a>
            <a href="./badges.html">Badges </a>
            <a href="../components/button.html"> Buttons</a>
            <a href="./cards.html">Cards</a>
            <a href="./image.html">Images</a>
            <a href="./input.html">Inputs</a>
            <a href="./list.html">Lists</a>
            <a href="./modals.html">Modals</a>
            <a href="./navigation.html">Navigation</a>
            <a href="./grid.html">Simple Grid</a>
            <a href="./typography.html">Text Utilities</a>
          </ul>
          <section class="componentFooter">
            <div>
              <span class="name"> Made with ❤️ by <b> Mukul Saini </b></span>

              <div class="socialLinks-side">
                <a href="https://github.com/mukulsaini-dev/Component-Library">
                  <i class="fab fa-github"></i>
                </a>

                <a href="https://twitter.com/iMukulSaini">
                  <i class="fab fa-twitter"> </i
                ></a>
                <a href="https://www.linkedin.com/in/mukul-saini-95aa49204/"
                  ><i class="fab fa-linkedin-in"></i>
                </a>
              </div>
            </div>
          </section>
        </div>
      </aside>

      <section class="contentList">
        <!-- //first grid -->

        <div class="alist list-content">
          <div class="component-intro">
            <h1 class="component-name">Vertical List</h1>

            <p class="component-about">
              The lists are a group of texts or pictures that are continuous.
              Below is the pre style vertical list example .Use this to make
              your web app style faster.
            </p>

            <div class="list-lists">
              <ul class="lists vertical-list">
                <li>Delhi</li>
                <li>Haryana</li>
                <li>Uttar Pradesh</li>
                <li>Mumbai</li>
              </ul>
            </div>

            <!-- code snippet -->
            <div class="code-snippet">
              <iframe
                src="https://carbon.now.sh/embed?bg=rgba%2831%2C138%2C210%2C1%29&t=base16-dark&wt=none&l=htmlmixed&ds=true&dsyoff=20px&dsblur=64px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=15px&lh=185%25&si=false&es=2x&wm=false&code=%2520%253Cul%2520class%253D%2522lists%2520vertical-list%2522%253E%250A%2520%2520%2520%253Cli%253EDelhi%253C%252Fli%253E%250A%2520%2520%2520%253Cli%253EHaryana%253C%252Fli%253E%250A%2520%2520%2520%253Cli%253EUttar%2520Pradesh%253C%252Fli%253E%250A%2520%2520%2520%253Cli%253EMumbai%253C%252Fli%253E%250A%253C%252Ful%253E%250A"
                style="
                  width: 736px;
                  height: 268px;
                  border: 0;
                  transform: scale(1);
                  overflow: hidden;
                "
                sandbox="allow-scripts allow-same-origin"
              >
              </iframe>
            </div>
          </div>

          <div class="blist list-content">
            <div class="component-intro">
              <h1 class="component-name">Horizontal List</h1>

              <p class="component-about">
                Below is the pre style Horizontal list example .Use this to make
                your web app style faster.
              </p>
            </div>

            <div class="list-lists">
              <ul class="lists horizontal-list">
                <a href="###">Twitter</a>
                <a href="###">Github</a>
                <a href="###">linkedin</a>
                <a href="###">Dev.io</a>
              </ul>
            </div>
            <!-- code snippet -->
            <div class="code-snippet">
              <iframe
                src="https://carbon.now.sh/embed?bg=rgba%2831%2C138%2C210%2C1%29&t=base16-dark&wt=none&l=htmlmixed&ds=true&dsyoff=20px&dsblur=64px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=15px&lh=185%25&si=false&es=2x&wm=false&code=%253Cul%2520class%253D%2522lists%2520horizontal-list%2522%253E%250A%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Ca%2520href%253D%2522%2523%2523%2523%2522%253ETwitter%253C%252Fa%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Ca%2520href%253D%2522%2523%2523%2523%2522%253EGithub%253C%252Fa%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Ca%2520href%253D%2522%2523%2523%2523%2522%2520%253Elinkedin%253C%252Fa%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Ca%2520href%253D%2522%2523%2523%2523%2522%253EDev.io%253C%252Fa%253E%250A%253C%252Ful%253E%250A"
                style="
                  width: 754px;
                  height: 296px;
                  border: 0;
                  transform: scale(1);
                  overflow: hidden;
                "
                sandbox="allow-scripts allow-same-origin"
              >
              </iframe>
            </div>
            <div class="component-next-page">
              <a href="./input.html" class="previous-page-name"> Input </a>
              <a class="next-page-name" href="./modals.html"> Modals </a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
